@import "tailwindcss";

@keyframes shakeX {
  0% { transform: translateX(0); }
  15% { transform: translateX(-16px); }
  30% { transform: translateX(16px); }
  45% { transform: translateX(-16px); }
  60% { transform: translateX(16px); }
  75% { transform: translateX(-8px); }
  90% { transform: translateX(8px); }
  100% { transform: translateX(0); }
}
